<div class="comment">
    {{#each this}}
    <section class="comment">
        <div class="text">
            {{comment_text}}
        </div>
        <div class="user-date">
            {{user.username}} on {{format_date created_at}}
        </div>
    </section>
    {{/each}}
</div>