<section>
    <h2 class="pt-3">Add A New Workout</h2>

    <form class="new-post-form">
        <div class="form-group title-form">
            <label for="post-title">Title of Workout:</label>
            <input type="text" class="form-control" id="post-title" name="post-name" placeholder="Title">
        </div>
        <div class="form-group text-form">
            <label for="post-content">Workout Description:</label>
            <textarea class="post-text" name="post-body"></textarea>
        </div>
        <div>
            <button class="log-btn post-btn" type="submit">Add Workout</button>
        </div>
    </form>
</section>

{{!-- {{#if workouts.length}} --}}
<section>
    <h2 class="user-post-head mt-2">Your Workouts</h2>
    <ol class="container user-posts">
        {{#each workouts as |workout|}}
        <li class="col-12">
            {{> workout-info workout}}
            <div class="edit-btn">
                <a href="/dashboard/edit/{{workout.id}}" class="edit-link">Edit Workout</a>
            </div>
        </li>
        {{/each}}
    </ol>
</section>
{{!-- {{/if}} --}}

<script src="/javascript/add-workout.js"></script>