<div>
  <div class="container">
    <div class="row justify-content-center">
      <p class="col-12 col-md-6 col-lg-3">PIC</p>
      <p class="col-12 col-md-6 col-lg-3">PIC</p>
      <p class="col-12 col-md-6 col-lg-3">PIC</p>
      <p class="col-12 col-md-6 col-lg-3">PIC</p>
    </div>
  </div>
  <h5 class="text-center h-text">Welcome to the Workout Tracker Pro App! The place where you can post about your workouts, view workouts posted by
    users from the community, as well as give and receive motivation and encouragement!</h5>
  <div class="container">
    <div class="row justify-content-center">
      <p class="col-12 col-md-6 col-lg-3">PIC</p>
      <p class="col-12 col-md-6 col-lg-3">PIC</p>
      <p class="col-12 col-md-6 col-lg-3">PIC</p>
      <p class="col-12 col-md-6 col-lg-3">PIC</p>
    </div>
  </div>
  <p class="text-center">Get Started Today!</p>
  <ul class="text-center home-list">
    <li>Sign Up to create an account to track your workouts</li>
    <li>Keep track of your daily and weekly workouts</li>
    <li>Add descriptions, notes, and durations to your workouts</li>
    <li>Leave comments and likes on other user’s workouts</li>
  </ul>
  <h5 class="text-center h-text">Click the login link in the navigation bar to sign up and get started!</h5>
</div>