<div>
  <div class="container">
    <div class="row justify-content-center pt-3">
      <img src="/images/run.png" alt="runner logo" class="col-12 col-md-6 col-lg-3">
      <img src="/images/bball.png" alt="girl basketball player silhouette" class="col-12 col-md-6 col-lg-3">
      <img src="/images/swim.png" alt="swimmer logo" class="col-12 col-md-6 col-lg-3">
      <img src="/images/climb.png" alt="girl rock climbing" class="col-12 col-md-6 col-lg-3">
    </div>
  </div>
  <h5 class="text-center h-text m-3">Welcome to the Workout Tracker Pro App! The place where you can post about your workouts, view workouts posted by
    users from the community, as well as give and receive motivation and encouragement!</h5>
  <div class="container">
    <div class="row justify-content-center">
      <img src="/images/yoga.png" alt="man in yoga tree pose" class="col-12 col-md-6 col-lg-3">
      <img src="/images/bike.png" alt="biker logo" class="col-12 col-md-6 col-lg-3">
      <img src="/images/hike.png" alt="two hikers with backpacks" class="col-12 col-md-6 col-lg-3">
      <img src="/images/lift.png" alt="weight lifter logo" class="col-12 col-md-6 col-lg-3">
    </div>
  </div>
  <p class="text-center start-p">Get Started Today!</p>
  <ul class="text-center home-list">
    <li>Sign Up to create an account to track your workouts</li>
    <li>Keep track of your daily and weekly workouts</li>
    <li>Add descriptions, notes, and durations to your workouts</li>
    <li>Leave comments and likes on other user’s workouts</li>
  </ul>
  <h5 class="text-center h-text">Click the login link in the navigation bar to sign up and get started!</h5>
</div>