<div>
    <h3 class="h-text pt-2 routine-name">{{routine.name}}</h3>
    <ol>
        {{#each routine.exercises as |exercise|}}
        <li>
            <p>{{exercise.name}}</p>
            <a id="routine-gif-wrap" href="{{exercise.gif}}" target="_blank">Click Here for Demo Gif</a>
            <p>{{exercise.equipment}}</p>
            <br>
            {{/each}}
        </li>
    </ol>
    <button class="log-btn delete-workout" type="button">Delete Workout Routine</button>
</div>

<script src="/javascript/delete-routine.js"></script>