<div class="container">
    <article class="col-12">
        {{> post-info post }}
    </article>
</div>

{{#if loggedIn}}
<form class="comment-form">
    <h2 class="comment-head">Leave a Comment</h2>
    <div class="mt-2">
        <textarea name="comment-body" class="comment-text"></textarea>
    </div>
    <div>
        <button type="submit" class="log-btn">Add Comment</button>
    </div>
</form>
{{/if}}

{{> comments post.comments}}

{{#if loggedIn}}
<script src="/javascript/comment.js"></script>
{{/if}}