<div class="container">
    <article class="col-12">
        {{> workout-info workout }}
    </article>
</div>

{{!-- {{#if loggedIn}} --}}
<button type="button" class="like-btn"> &#x1F44D; Like</button>
<form class="comment-form">
    <h2 class="comment-head">Leave a Comment</h2>
    <div class="mt-2">
        <textarea name="comment-body" class="comment-text"></textarea>
    </div>
    <div>
        <button type="submit" class="log-btn">Add Comment</button>
    </div>
</form>
{{!-- {{/if}} --}}

{{> comments workout.comments}}

{{!-- {{#if loggedIn}} --}}
<script src="/javascript/comment.js"></script>
<script src="/javascript/upvote.js"></script>
{{!-- {{/if}} --}}